source https://nuget.org/api/v2

nuget FAKE
nuget Suave
nuget Suave.Experimental
nuget canopy = 1.5.0
nuget canopy.integration = 1.5.0
nuget Npgsql ~> 3.0.8
nuget Http.fs
nuget BCrypt-Official
nuget FsPickler
nuget FsPickler.Json
nuget Newtonsoft.Json
